* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    text-align: center;
    font-size: 10px;
}

h1 {
    font-family: Monoton;
    font-size: 7rem;
    margin: 0.2em;
}

h2 {
    margin: 1rem 0 0.25rem;
}

h2:first-of-type {
    margin-top: 0.5rem;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr,td{
    padding: 2rem;
}

tr {
    height: 2rem;
}

td {
    width: 2rem;
}

.btns{
    margin: 2rem;
}

button{
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.rem;
    margin-right: 2rem;
}

.submit-btn{
    padding: 0.5rem;
    border-radius: 0.5rem;
}


input[type=number] {
    width: 0.6rem;
}

.start-btn, .clear{
    color: #f4f4f4;
}

.start-btn{
    background-color: #489c48;
}

.clear{
    background-color: #ed0e0e;
}
